<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>411611308540-3e6hhbq334hq4t4mqeomb94j0s66nc5r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.411611308540-3e6hhbq334hq4t4mqeomb94j0s66nc5r</string>
	<key>API_KEY</key>
	<string>AIzaSyAnepOhpuz1lVLrH_hb8Em5wWkNb63SBq8</string>
	<key>GCM_SENDER_ID</key>
	<string>411611308540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jaeseung.uberPractice</string>
	<key>PROJECT_ID</key>
	<string>uberclone-86d27</string>
	<key>STORAGE_BUCKET</key>
	<string>uberclone-86d27.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:411611308540:ios:ade90396863e9cdc685279</string>
</dict>
</plist>